/* التكليف الاول */
/* div {
    width: 600px;
    height: 50px;
    margin: 20px auto;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 7px solid #f44336;
    border-right: 7px solid #3f51b5;
    font-size: 20px;
    position: relative;
}

div::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #f44336 0%, #f44336 20%, #03a9f4 20%, #03a9f4 40%, #4caf50 40%, #4caf50 60%, #795548 60%, #795548 80%, #3f51b5 80%);

}

div::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    top: 43px;
    left: 0;
    background-image: linear-gradient(to right, #f44336 0%, #f44336 20%, #03a9f4 20%, #03a9f4 40%, #4caf50 40%, #4caf50 60%, #795548 60%, #795548 80%, #3f51b5 80%);
}

div::first-letter {
    color: red;
} */












/* التكليف الثانى */
div {
    background-color: #eee;
    margin: 20px auto;
    padding: 10px;
    width: 500px;
    height: 30px;
    position: relative;
}

div::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 47px;
    left: 0;
    background-image: linear-gradient(to right, #f44336 0%, #f44336 50%, #009688 50%, #009688 100%)
}

.elzero {
    font-family: sans-serif;
    caret-color: red;
}

.two,
.three {
    color: #009688;
}